<nav class="navbar bg-primary">
  <div class="container">
    <i class="bi bi-clipboard2-data">
    <a class="navbar-brand" href="/" style="color: aliceblue; font-weight: 600;">
      Oryumon
    </a>
</i>
  </div>
</nav>
